.logo {
  color: var(--text-spanish-violet);
  font-size: 21px;
  font-weight: 800;
  font-style: italic;
}

.btn {
  color: white;
  font-size: 14px;
  font-weight: 500;

  padding: 0.75em;

  background-color: var(--bg-magic-potion);
  border-style: none;
  border-radius: 6px;
}

.btn-outline {
  color: var(--text-spanish-violet);
  background-color: transparent;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment {
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0px 12px 35px 4px rgba(171, 8, 96, 0.05);

  transition: all 0.3s ease;
}

.comment:hover,
.comment.focus {
  color: #fff;
  background-color: var(--bg-majorelle-blue);
  box-shadow: 0px 12px 35px 4px rgba(0, 0, 0, 0.05);
}

.bg-ufo-green {
  background-color: var(--bg-ufo-green);
}