
.logo {
  color: var(--text-spanish-violet);
  font-size: 21px;
  font-weight: 800;
  font-style: italic;
}

.btn {
  color: white;
  font-size: 14px;
  font-weight: 500;
  
  padding: 0.75em;

  background-color: var(--bg-magic-potion);  
  border-style: none;
  border-radius: 6px;
}

.btn-outline {
  color: var(--text-spanish-violet);
  background-color: transparent;
}